<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h2>MY Website 20230140041</h2>
<p>Selamat datang di aplikasi!</p>
<a th:href="@{/form}">+ Input Data Mahasiswa</a>

<h3>Data Mahasiswa</h3>
<table border="1" width="100%">
    <tr style="background-color:blue; color:white;">
        <th>No</th>
        <th>Nama</th>
        <th>NIM</th>
        <th>Jenis Kelamin</th>
    </tr>
    <tr th:if="${#lists.isEmpty(listMahasiswa)}">
        <td colspan="4" align="center">Belum ada data</td>
    </tr>
    <tr th:each="mhs, i : ${listMahasiswa}">
        <td th:text="${i.count}"></td>
        <td th:text="${mhs.nama}"></td>
        <td th:text="${mhs.nim}"></td>
        <td th:text="${mhs.jenisKelamin}"></td>
    </tr>
</table>

<br>
<a href="/logout">Logout</a>
</body>
</html>